.principalBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  /* ← desconta header e footer */
  padding: 2rem 0;
}

.entreAqui {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formEntrada {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputBox {
  position: relative;
  width: 100%;
}

.inputIcon {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  cursor: pointer;
  background-image: url("/assets/images/olho.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.iconHide {
  background-image: url("/assets/images/olho-fechado.png");
}

.containerOpcoes {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-bottom: 20px;
}

.containerOpcoes p,
.containerOpcoes label {
  color: white;
}

.btnPrimary {
  background-color: var(--dark-blue) !important;
  border: none !important;
  color: white !important;
  height: 60px;
  border-radius: 18px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}

.remember {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: var(--blue);
}

.inputBox label {
  position: absolute;
  left: 20px;
  top: 18px;
  color: #dcdcdc;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease;
}

.inputBox input:focus+label,
.inputBox input:valid+label {
  top: -22px;
  left: 15px;
  font-size: 16px;
  padding: 0 6px;
  border-radius: 6px;
}
